.logo_header {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: #212121;
}
.logo_header span {
  color: #2196f3;
}

.logo_footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: #ffffff;
}
.logo_footer span {
  color: #2196f3;
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form-checkbox, .form-field, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.modal-btn-icon, .hero-content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clients-link {
  color: currentColor;
}

.clients-icon {
  fill: currentColor;
}

.socmedia-link {
  color: currentColor;
}

.socmedia-icon {
  fill: currentColor;
}

.social-link {
  color: currentColor;
}

.social-icon {
  fill: currentColor;
}

.section {
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 15px 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form-checkbox, .form-field, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.modal-btn-icon, .hero-content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header {
  border-bottom: solid 1px #ECECEC;
}

@media screen and (min-width: 768px) {
  .main-nav {
    width: 738px;
    margin: 0 auto;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .menu-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .main-nav {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .menu_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .navigation-item {
    position: relative;
  }
  .navigation-link {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link:hover, .navigation-link:focus {
    color: #2196f3;
  }
  .navigation-link.current {
    color: #2196f3;
  }
  .navigation-link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 96px;
    row-gap: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .address-list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    margin-left: 315px;
  }
}
@media screen and (min-width: 768px) {
  .address-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-list-item-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .address-list-item-link {
    color: currentColor;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .address-list-item:hover, .address-list-item:focus {
    color: #2196f3;
  }
  .menu-btn-close, .social-nav {
    display: none;
  }
}
.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form-checkbox, .form-field, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.modal-btn-icon, .hero-content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .main-nav {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .main-nav {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .logo_header {
    margin: 0;
    position: absolute;
    top: 16px;
    left: 15px;
  }
  .menu-btn {
    position: absolute;
    background-color: #ffffff;
    border-color: transparent;
    padding: 0;
    top: 10px;
    right: 15px;
  }
  .menu-btn:hover .icon-menu, .menu-btn:focus .icon-menu {
    fill: #2196f3;
  }
  .menu_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 48px 40px;
  }
  .menu_container.is-open {
    display: block;
  }
  .menu_container .menu-btn-close {
    background-color: #ffffff;
    border-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .menu_container .menu-btn-close:hover .icon-cross, .menu_container .menu-btn-close:focus .icon-cross {
    fill: #2196f3;
  }
  .menu_container .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
    list-style: none;
    margin: 0 0 302px 0;
    padding: 0;
  }
  .menu_container .navigation-link {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.2;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu_container .navigation-link:hover, .menu_container .navigation-link:focus {
    color: #2196f3;
  }
  .menu_container .navigation-link.current {
    color: #2196f3;
  }
  .menu_container .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 32px;
    list-style: none;
    padding: 0;
    margin-bottom: 64px;
  }
  .menu_container .address-list-item-icon {
    display: none;
  }
  .menu_container .address-list-item-link {
    text-decoration: none;
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu_container .address-list-item-link.tel {
    font-size: 34px;
    letter-spacing: 0.68px;
  }
  .menu_container .address-list-item-link:hover, .menu_container .address-list-item-link:focus {
    color: #2196f3;
  }
  .menu_container .social-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu_container .social-nav-link {
    color: #2196f3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.36px;
  }
  .menu_container .social-nav-item:not(:first-child) {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu_container .social-nav-item:first-child {
    padding-right: 10px;
  }
}
.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form-checkbox, .form-field, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.modal-btn-icon, .hero-content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero {
  position: relative;
  display: inline-block;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
  width: 100%;
  min-height: 400px;
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heromobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heromobile.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/herotablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herotablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    height: 600px;
  }
}
.hero-content {
  position: absolute;
  text-align: center;
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 360px;
  font-size: 26px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero-btn {
  padding: 10px 24px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero-btn {
    padding: 10px 32px;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188CE8;
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form-checkbox, .form-field, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.modal-btn-icon, .hero-content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: all;
  z-index: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  max-width: 450px;
  max-height: 609px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.modal-btn-icon {
  position: absolute;
}
.modal-btn:hover .modal-btn-icon, .modal-btn:focus .modal-btn-icon {
  fill: #2196f3;
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form-checkbox, .form-field, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0 0 12px;
}
.form-field {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}
.form-input {
  padding-left: 42px;
  outline: none;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  max-width: 370px;
}
@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
  }
}
.form-input.textarea {
  padding: 12px 16px 12px;
  height: 120px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}
.form-input.textarea:not(:-moz-placeholder-shown) {
  color: #212121;
}
.form-input.textarea:not(:-ms-input-placeholder) {
  color: #212121;
}
.form-input.textarea:not(:placeholder-shown) {
  color: #212121;
}
.form-input::-moz-selection {
  border: 1px solid #2196f3;
  border-color: #2196f3;
}
.form-input:focus, .form-input::selection {
  border: 1px solid #2196f3;
  border-color: #2196f3;
}
.form-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.form-container:focus-within .form-icon {
  fill: #2196f3;
}
.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.12px;
}
.form-checkbox {
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-checkbox .form-label {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.36px;
}
@media screen and (min-width: 1200px) {
  .form-checkbox .form-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
.form-checkbox .form-label-link {
  color: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid #212121;
}
.checkbox:checked + .checkbox-icon {
  border: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/icon-accept.svg");
  background-size: contain;
  background-origin: border-box;
}

.btn-send {
  padding: 10px 52px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send:hover, .btn-send :focus {
  background-color: #188CE8;
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form, .form-field, .form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantages {
  list-style: none;
  padding: 0 15px;
  margin-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .advantages {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1170px;
  }
}
.advantages-item {
  width: 100%;
}
.advantages-item-cont {
  background-color: #F5F4FA;
  height: 120px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages-item-icon {
  width: 70px;
  height: 70px;
  margin: 25px auto;
}
.advantages-item-title {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages-item-title {
    text-align: start;
  }
}
@media screen and (min-width: 480px) {
  .advantages-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 60px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 90px) / 4);
    margin: 0;
  }
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .examples-list, .form, .form-field, .form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1199px) {
  .examples-section {
    display: none;
  }
}
.example {
  position: relative;
  height: 294px;
}
.example-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  left: 0px;
  padding: 27px 0 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}

.example + .example {
  margin-left: 30px;
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .social-media, .form, .form-field, .form-checkbox, .examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .social-media, .team, .examples-list {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team-section.section {
  background-color: #F5F4FA;
}
@media screen and (max-width: 1199px) {
  .team-section.section {
    padding: 60px 15px 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  padding: 0;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .team {
    max-width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    max-width: 1170px;
  }
}
.team-member {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  max-height: 622px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.team-member img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-member {
    width: 354px;
    height: 536px;
    margin: 0;
  }
  .team-member img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-member {
    width: 270px;
    height: 428px;
    margin: 0;
  }
  .team-member img {
    width: 270px;
    height: 260px;
  }
}
.team-member-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.team-member-position {
  text-align: center;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.social-media {
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.social-media-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: #AFB1B8;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-item:hover, .social-media-item:focus {
  color: #ffffff;
  background-color: #2196f3;
}
@media screen and (max-width: 767px) {
  .social-media {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .social-media {
    margin: 0 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .social-media {
    margin: 0 32px 30px 32px;
  }
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .form, .form-field, .form-checkbox, .examples-list, .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .clients, .examples-list, .team, .social-media {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clients {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .clients {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    width: 1170px;
  }
}
.clients-item {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  height: 92px;
  color: #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
    padding: 16px 35px;
  }
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
    padding: 16px 52px 16px;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
    padding: 16px 60px 16px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
    padding: 16px 32px 16px;
  }
}
.clients-item:hover, .clients-item:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.clients-icon {
  margin-left: auto;
  margin-right: auto;
}

.filter, .subscribe, .social-list, .address-title, .div-footer, .form, .form-field, .form-checkbox, .examples-list, .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .examples-list, .team, .social-media, .clients {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer {
  background-color: #2f303a;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .div-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .div-footer {
    width: 603px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .div-footer {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.nav-footer {
  width: 232px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .nav-footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address-title {
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address-title {
    text-align: left;
    width: 231px;
  }
}
.address-title-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-title-link:hover, .address-title-link:focus {
  color: #2196f3;
}

.filter, .subscribe, .social-list, .form, .form-field, .form-checkbox, .examples-list, .social-media, .div-footer, .address-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .social-list, .examples-list, .team, .social-media, .clients {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social-footer {
  width: 206px;
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
  }
}

.footer-title {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
    margin: 12px 0 20px;
  }
}

.social-list {
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.social-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item:hover, .social-list-item:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.filter, .subscribe, .form, .form-field, .form-checkbox, .examples-list, .social-media, .div-footer, .address-title, .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .examples-list, .team, .social-media, .clients, .social-list {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscribe-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-section {
    margin-left: 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.subscribe {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
}
.subscribe-email {
  padding: 15px 16px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (min-width: 480px) {
  .subscribe-email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-email {
    width: 358px;
  }
}
.subscribe-email:focus {
  color: #ffffff;
}
.subscribe-container {
  position: relative;
}
.subscribe-btn {
  height: 50px;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: #188CE8;
}
.subscribe-icon {
  position: absolute;
  right: 28px;
  top: 13px;
}

.filter, .form, .form-field, .form-checkbox, .examples-list, .social-media, .div-footer, .address-title, .social-list, .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .filter, .examples-list, .team, .social-media, .clients, .social-list {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .portfolio {
    max-width: 480px;
  }
}
@media screen and (max-width: 1199px) {
  .portfolio {
    padding: 60px 15px 60px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .filter {
    max-width: 350px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    width: 100%;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.filter-btn {
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn.current, .filter-btn:hover, .filter-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.form, .form-field, .form-checkbox, .examples-list, .social-media, .div-footer, .address-title, .social-list, .subscribe, .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  color: #212121;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}

.examples-list {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.work-list, .examples-list, .team, .social-media, .clients, .social-list, .filter {
  list-style: none;
}

.hero-content, .modal-btn-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.work-list {
  padding: 0;
  margin-top: 50px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .work-list {
    min-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list {
    max-width: 1200px;
  }
}

.work {
  border: 1px solid #EEE;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .work {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    width: calc((100% - 60px) / 3);
  }
}
.work-title {
  margin: 20px 0 4px;
  padding: 0 24px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.work-description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 24px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
.work-thumb {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.work-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-overlay-title {
  padding: 63px 24px 63px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
}
.work:hover .work-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.work:hover, .work:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

p, a {
  margin: 0;
}/*# sourceMappingURL=main.css.map */