@import './utils/variables';
@import './components/logo';
@import './components/common';
@import './components/nav_header';
@import './components/header_mobile';

@import './components/hero';
@import './components/backdrop';
@import './components/form';

@import './components/advantages';
@import './components/examples';
@import './components/team';
@import './components/clients';

@import './components/nav_footer';
@import './components/soc_footer';
@import './components/subscribe_footer';

@import './components/portfolio_filter';
@import './components/portfolio_works';


html{
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body {
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.2;
}
p, a{
    margin: 0;
}
  






