@import '../utils/mixins';
@import '../utils/variables';
@import '../utils/placeholders';

.clients{
    @extend %list;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (max-width: 767px){ 
        max-width: 450px;
        
    }
    @media screen and (min-width: 768px){
        width: 738px;
    }
    @media screen and (min-width: 1200px){
        width: 1170px;
    }
    &-item{
        border-radius: 4px;
        border: 1px solid $icon-color;
        height: 92px;
        color: $icon-color;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (max-width: 479px){
            width: calc((100% - 30px)/2);
            padding: 16px 35px;
            
        }
        @media screen and (min-width: 480px){
            width: 210px;
            padding: 16px 52px 16px;
        }
        @media screen and (min-width: 768px){
            width: 226px;
            padding: 16px 60px 16px;
        }
        @media screen and (min-width: 1200px){
            width: 170px;
            padding: 16px 32px 16px;
        }
        &:hover, &:focus{
            border: 1px solid $accent-color;
            color: $accent-color;
        }
        
    }
    &-icon{
        margin-left: auto;
        margin-right: auto;
    }
}
