@import '../utils/mixins';
@import '../utils/variables';
@import '../utils/placeholders';

.hero{
    position: relative;
    display: inline-block;
    background-color: $bck-color;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero.jpg');
    background-position: center;
    background-size: auto;
    margin-bottom: 94px;  
    width: 100%;
    min-height: 600px;
    &-content{
        position: absolute;
        text-align: center;
        @extend %centered;
    }
    &-title{
        width: 696px;
        margin: 0 auto 30px;    
        color: $primary-white-color;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 2.64px;
        text-transform: uppercase;
    }
    &-btn{
        @include buttonType(32px);
        @include useTransition(background-color);

        &:hover, &:focus{
            background-color: $hover-accent-color;
        }
    }
    
}