@import '../utils/mixins';
@import '../utils/variables';
@import '../utils/placeholders';

footer {
  background-color: $bck-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer{
    @extend %doFlex;
    @extend %container;
}
.nav-footer{
    width: 231px;
    margin-right: 70px;
}
.address-title{
    margin-top: 20px;
    @extend %doFlex;
    flex-direction: column;
    color: $primary-white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    &-link{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);

      @include useTransition(color);
      &:hover, &:focus{
          color: $accent-color;
      }
    }
}