@import '../utils/mixins';
@import '../utils/variables';
@import '../utils/placeholders';

footer {
  background-color: $bck-color;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer{
    @extend %doFlex;
    @media screen and (max-width:1199px){
      flex-direction: column;
      align-items: center;
      row-gap: 60px;
    }
    @media screen and (min-width: 768px) and (max-width:1199px){
      width: 603px;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 165px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
      width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
    }
}
.nav-footer{
    width: 232px;
    // margin-right: 70px;
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
}
.address-title{
    margin-top: 20px;
    @extend %doFlex;
    flex-direction: column;
    color: $primary-white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    @media screen and (min-width: 480px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
      width: 231px;
    }
    &-link{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);

      @include useTransition(color);
      &:hover, &:focus{
          color: $accent-color;
      }
    }
}