@import '../utils/mixins';
@import '../utils/variables';
@import '../utils/placeholders';

.work-list{
    @extend %list;
    padding: 0;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    @media screen and (min-width:768px) {
        min-width: 768px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
    }
    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
}

.work{
    border: 1px solid #EEE;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    img{
        width: 100%;
    }
    @media screen and (min-width: 480px) {
        max-width: 450px;
        margin: 0;
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/2);
        margin: 0;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px)/3);
    }
     

    @include useTransition(box-shadow);

    &-title{
        margin: 20px 0 4px;
        padding: 0 24px;
        color: $title-text-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
    }
    &-description {
        margin: 0;
        margin-bottom: 20px;
        padding: 0 24px;
        line-height: 1.87;
        letter-spacing: 0.48px;
    }
    &-thumb{
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    &-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        transform: translateY(101%);

        background-color: rgba(33, 150, 243, 0.90);
        @include useTransition(transform);
        &-title{
            padding: 63px 24px 63px;

            color: $primary-white-color;
            font-size: 18px;
            line-height: 1.55;
            letter-spacing: 0.54px;
        }
    
    }
    &:hover &-overlay{
        transform: translateY(0);
    }
    &:hover, &:focus{
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}