@import '../utils/mixins';
@import '../utils/variables';
@import '../utils/placeholders';

.team-section.section{
    @include sections($second-bck-color);
}

.team{
    @extend %list;
    padding: 0;
    @media screen and (min-width:480px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width:768px) {
        width: 738px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
        column-gap: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width:1200px) {
        width: 1170px;
    }
    &-member{
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
        background-color: $primary-white-color;
        

        
        @media screen and (min-width:480px) {
            width: 450px;
            height: 622px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            img{
                width: 450px;
                height: 460px;
            }
        }
        @media screen and (min-width:768px) {
            width: 354px;
            height: 536px;
            margin: 0;
            img{
                width: 354px;
                height: 374px;
            }
        }
        @media screen and (min-width:1200px) {
            width: 270px;
            height: 428px;
            margin: 0;
            img{
                width: 270px;
                height: 260px;
            }
        }

        
        &-name{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;
            color: $title-text-color;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.48px;
        }
        &-position{
            text-align: center;
            letter-spacing: 0.48px;
            margin-bottom: 16px;
        }
    }
}

.social-media{
    @include socialMedia($icon-color, $primary-white-color, $primary-white-color, $accent-color);
    
    @media screen and (min-width:480px) {
        margin: 0 122px 24px 122px;
    }
    @media screen and (min-width:768px) {
        margin: 0 74px 24px 74px;
    }
    @media screen and (min-width:1200px) {
        margin: 0 32px 30px 32px;
    }
}