%doFlex{
  display: flex;
}
%sectionTitle{
  color: $title-text-color;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  
  @media screen and (min-width:480px) {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
  @media screen and (min-width: 1200px){
    letter-spacing: 1.08px;
    font-size: 36px;
  }
}
%container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
%list {
    list-style: none;
  }

%link{
  text-decoration: none;
}

%centered{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
