$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hover-accent-color: #188CE8;
$primary-white-color: #ffffff;
$bck-color: #2f303a;
$bck-color-btn: #f5f4fa;
$second-bck-color: #F5F4FA;
$icon-color: #AFB1B8;
$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
$cubic-transition: cubic-bezier(0.4, 0, 0.2, 1);